* {
    margin: 0;
}

section {
    height: 100vh;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 50vh;
}

h1 {
    font-size: 50px;
    margin-bottom: 40px;
}

p {
    font-size: 20px;

    width: 90%;

    text-align: center;
}

/*---------------------BOX 1-----------------------*/

.box-1 {
    background-color: #FFC0CBFF;
}
.box-1 h1 {
    color: #1c1b1b;
}
.box-1 p {
    color: #1c1b1b;
}

/*---------------------BOX 2----------------------*/

.box-2 {
    background-color: #1c1b1b;
}
.box-2 h1 {
    color: #FFC0CBFF;
}
.box-2 p {
    color: #FFC0CBFF;
}