/*              ROOT                */
:root {
    /*  Text Color  */
    --nav-text-cl: #99a2aa;
    --main-text-cl: #0e2f4b;
    --placeholder-text-cl: #757575;

    /*  Title Color  */
    --main-title-cl: #fff;



    /*  Background Color  */
    --first-bg-cl: #fec524;
    --second-bg-cl: #f8f8f8;
    --bg-btn: #fff;
}


/*              GLOBAL STYLES               */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

body {
    display: flex;
    flex-direction: column;

    font-family: "Rubik", sans-serif;
    font-weight: 700;
}

.page-container {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

.container {
    width: 1440px;

    margin: 0 auto;
}

.margin-wrap {
    margin: 0 135px;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

input {
    outline: none;
}


/*              HEADER              */
header {

}

.header-con {
    display: flex;
    flex-direction: column;

    height: 150px;
}

.header-logo {
    display: flex;
    align-items: center;

    height: 60%;
}

.navigation {
    display: flex;
    align-items: center;

    height: 40%;
}

.navigation-list {
    display: flex;
    gap: 30px;

    font-weight: 400;
}
.navigation-list a {
    padding: 20px 0;

    color: var(--nav-text-cl);
}


/*              HERO BLOCK              */
.hero {
    background-color: var(--first-bg-cl);
}

.slider-item-content {
    height: 440px;

    padding-top: 44px;
}

h1 {
    font-size: 44px;
    line-height: 136.364%;

    width: 300px;

    margin-bottom: 34px;

    color: var(--main-title-cl);
}

.slider-item-content > .text-hero {
    color: var(--main-text-cl);
}


/*              SERVICES BLOCK              */
.services-block {
    background-color: var(--second-bg-cl);
}

.services-block > div {
    position: relative;
}

.wrapper-form {
    position: absolute;
    top: -260px;
}

.wrapper-form input[type="number"] {
    font-family: "Rubik", sans-serif;
    font-size: 16px;

    width: 570px;
    height: 72px;

    padding-left: 30px;

    border: none;
    border-radius: 10px;

    color: var(--placeholder-text-cl);
    box-shadow: 0 3px 35px 0
                rgba(95, 98, 102, 0.17);
}

.services-list-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    margin-top: 30px;
}

.services-item-btn > a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    width: 270px;
    height: 80px;

    border-radius: 10px;

    background-color: var(--bg-btn);
    box-shadow: 0 3px 35px 0
                rgba(95, 98, 102, 0.17);
}

.col-xl-4 {
    margin-top: 132px;
}


