@media screen and (max-width: 1410px) {
    .services-list-btn {
        max-width: 570px;
    }

    .col-xl-4 {
        padding-top: 200px
    }

    .service-img {
        position: static;
        right: 190px;
    }
}