@media screen and (max-width: 600px) {
    .main {
        justify-content: center;
    }
    .box-wrap {
        flex-direction: column;
    }
    .box-a{
        height: 20vh;
    }
    .box-b{
        width: 100%;
        height: 60vh;
    }
    .box-c{
        width: 100%;
        height: 20vh;
    }
}